<div *ngIf="intern">

    <h2>{{intern.name}}</h2>
        <div><span>id: </span>{{intern.id}}</div>
        <div>
            <label for="intern-name">實習生姓名： </label>
            <input id="intern-name" [(ngModel)]="intern.name" placeholder="name"><br>
            <label for="intern-name">性別： </label>
            <input id="intern-name" [(ngModel)]="intern.sex" placeholder="sex"><br>
            <label for="intern-name">電子信箱： </label>
            <input id="intern-name" [(ngModel)]="intern.email" placeholder="email"><br>
        </div>
  </div>