<div class="title" *ngIf="intern && showCode != 0">
    <p class="back"><button type="Back" (click)="back()">關閉</button>
        <p class="function" *ngIf="showCode == 1">資料修改
        <p class="function" *ngIf="showCode == 2">刪除警告
        <p class="function" *ngIf="showCode == 3">新增資料
        <p class="function" *ngIf="showCode == 4">查詢結果
    <p class="titlebutton">
        <button type="Update" (click)="showCode=1">修改</button>         
        <button type="Delete" (click)="showCode=2">刪除</button>
    </p>
</div>

<div class="NoticeText" *ngIf="intern">
    <p *ngIf="showCode == 1">正在修改{{intern.sort}}號「{{intern.name}}」的資料
    <p *ngIf="showCode == 2">確定刪除「{{intern.name}}」嗎?
    <p *ngIf="showCode == 3">新增資料
    <p *ngIf="showCode == 4">【{{ intern.name }}】的個人資料
</div>

<div class="Show" *ngIf="intern"> 
    <div class="Update" *ngIf="showCode == 1">
        <ul>
            <div class="Input">
                <p class="name"><label for="intern-name">實習生姓名： </label>
                <input id="intern-name" [(ngModel)]="intern.name" placeholder="name"></p>

                <p class="Another"><label for="intern-name">性別： </label>
                <input type="radio" name="sex" [(ngModel)]="intern.sexCode" value=1 checked>男
                <input type="radio" name="sex" [(ngModel)]="intern.sexCode" value=2>女</p>
                
                <p class="Another"><label for="intern-name">電子信箱： </label>
                <input id="intern-name" [(ngModel)]="intern.eMail" placeholder="email"></p>
                </div>
            <div class="ButtonArea"><button type="Update" (click)= "save()">修改</button>
                 <button type="Back" (click)="back()">取消</button></div>
        </ul>
    </div>
    <div class="Update" *ngIf="showCode == 1.5 || showCode == 3.5">
        <h2 *ngIf="errorPost">請務必填寫姓名和信箱！</h2>
        <h2 *ngIf="noName">請輸入正確的姓名！</h2>
        <h2 *ngIf="noEmail">請輸入正確的電子信箱！</h2>
        <div class="ButtonArea">
            <button type="Back" (click)="upPage()">返回</button>
        </div>  
    </div>

    <div class="Delete" *ngIf="showCode == 2 ">
        <div clas ="ButtonArea">
            <button type="Delete" (click)="delete(intern)">確定</button>
            <button type="Back" (click)="back()">取消</button>
        </div>  
    </div>
    
    <div class="Delete" *ngIf= "showCode == 2.5 ">
        <h2>資料表不得為空，無法刪除「{{intern.name}}」</h2>
    <div class="ButtonArea">
        <button type="Back" (click)="back()">返回</button>
    </div>  
    </div>


    <div class="Post" *ngIf="showCode == 3">
        <h2>請輸入實習生的資料</h2>
            <p class="name"><label for="new-intern">: </label>
            <input id="new-intern" #internName></p>

            <p class="Another"><label for="new-intern">性別: </label>
            <input type="radio" name="sex" value="1" #internSex checked>男
            <input type="radio" name="sex" value="2" #internSex>女</p>

            <p class="Another"><label for="new-intern">電子信箱: </label>
            <input id="new-intern" #internEmail></p>
        <div class="ButtonArea">
            <button type="Post" class="add-button" 
                (click)="post(internName.value, internSex.value, internEmail.value); 
                                internName.value=''; internEmail.value=''">增加</button>
                <button type="Back"  (click)="back()">取消</button>
        </div>
    </div>  
    <div class="Search" *ngIf="showCode==4">
        <table>
            <tbody>
                <tr>
                    <td class="subtitle">性別</td>
                    <td class="internData">{{ intern.sex }}</td>
                </tr>

                <tr>
                    <td class="subtitle">生日</td>
                    <td class="internData">1996/12/31</td>
                </tr>
                
                <tr>
                    <td class="subtitle">Line ID</td>
                    <td class="internData">yaluoer</td>
                </tr>
                <tr>
                    <td class="subtitle">連絡電話</td>
                    <td class="internData">0972753601</td>
                </tr>
                <tr>
                    <td class="subtitle">E-Mail</td>
                    <td class="internData">{{ intern.eMail }}</td>
                </tr>
            </tbody>
        </table>
</div>

