<div *ngIf= "Notes">
    <div class="read" *ngIf= "Showcode == 0">
        <h2>標題：{{Notes.noteTitle}}</h2>
        <a>實習生：{{Notes.name}}</a>
        <div class = "date">
            <a>建立時間：{{Notes.CreatDateShow}}</a>
            <a>上次修改：{{Notes.ModifitedDateShow}}</a>
        </div>
        <div type = "Note">
            <a>{{Notes.note}}</a>
        </div>
        <button type="Update" (click)= "Showcode = 1 ; SelectList()">修改</button>  
        <button type="Back" (click)= "Back()">關閉</button> 
    </div>

    <div class = "Update" *ngIf= "Showcode == 1">
        <ul>
            <div class="Input">
                <p class="title"><label for="Notes-title">標題： </label>
                <input id="Notes-title" [(ngModel)]="Notes.noteTitle" placeholder="標題"></p>
                
                <!--<p class="name"><label for="Notes-name">實習生姓名： </label>
                <input id="Notes-name" [(ngModel)]="Notes.name" placeholder="姓名"></p>-->
                
                <p class="name"><label>實習生姓名： </label>
                    <select #internname>
                        <option value = {{Notes.name}}>{{Notes.name}}</option>
                        <option *ngFor = "let interns of SelectInterns" 
                        value = {{interns.name}}> {{interns.name}} </option>
                    </select>
                </p>
                
                <p class="note"><label for="Notes-name">筆記內容： </label>
                <input id="Notes-name" [(ngModel)]="Notes.note" placeholder=""></p>
                <button type="Update" (click)= "save()">修改</button>
                 <button type="Back" (click)= "Back()">取消</button>
            </div>
        </ul>
    </div>

    <div class = Delete *ngIf = "Showcode == 2">
        <h2>確定刪除「{{Notes.noteTitle}}」這篇文章嗎?</h2>
        <div class = "ButtonArea">
            <button type="Delete" (click)= "Delete(Notes)">確定</button>
            <button type="Back" (click)= "Back()">取消</button>
        </div>  
    </div>

    <div class = "Post" *ngIf= "Showcode == 3" >
            <h2> 新增筆記</h2>

            <p class="title"><label for="new-title">標題: </label>
            <input id="new-title" #interntitle></p>
            
            <select #internname>
                <option>請選擇實習生</option>
                <option *ngFor = "let interns of Interns"  value = {{interns.name}}>{{interns.name}}
                </option>
            </select>

            <p class="note"><label for="new-note">內文: </label>
            <input id="new-note" #internnote></p>
        <div class = "ButtonArea">
            <button type="Post" class="add-button" 
                (click)= "Post(internname.value,interntitle.value,internnote.value)">增加</button>
                <button type="Back"  (click)= "Back()">取消</button>
        </div>
    </div>  
</div>
