<div *ngIf= "Notes">
    <div class="read" *ngIf= "Showcode == 0">
        <h2>【{{Notes.noteTitle}}】</h2>
        <p class = "name">實習生：{{Notes.name}}&emsp;信箱：{{Notes.eMail}}</p>
        <div class = "date">
            <a>建立時間：{{Notes.dateCreate |date:'yyyy-MM-dd  hh:mm:ss'}}</a>
            <a class = "ModifitedDateShow">上次修改：{{Notes.dateModifited |date:'yyyy-MM-dd  hh:mm:ss'}}</a>
        </div>
        <div class = "Note">{{Notes.note}} </div>
        <div class = "ButtonArea">
        <button type="Update" (click)= "Showcode = 1;SelectList()">修改</button>  
        <button type="Back" (click)= "Back()">關閉</button> 
    </div>
    </div>

    <div class = "Update" *ngIf= "Showcode == 1">
        <ul>
            <div class="Input">
                <h2>修改【{{Notes.noteTitle}}】中</h2>
                <p class="title"><label for="Notes-title">標題：</label>
                <input id="Notes-title" [(ngModel)]="Notes.noteTitle" placeholder="請輸入標題...">
                
                <!--<p class="name"><label for="Notes-name">實習生姓名： </label>
                <input id="Notes-name" [(ngModel)]="Notes.name" placeholder="姓名"></p>-->
                
                <a class="select-intern">實習生姓名：
                    <select [(ngModel)] = "Notes.nameId">
                        <option [ngValue] = "Notes.nameId" >{{Notes.name}}</option>
                        <option *ngFor = "let interns of SelectInterns" 
                        [ngValue] = "interns.id"> {{interns.name}} </option>
                    </select>
                    </a>
                </p>
                <div class="note">
                    <textarea [(ngModel)]="Notes.note" name = "new-note" rows = "6" cols = "90"  
                    placeholder="請輸入..."></textarea>
                </div>
                <div class = "ButtonArea">
                <button type="Update" (click)= "save()">修改</button>
                 <button type="Back" (click)= "Back()">取消</button>
                </div>
            </div>
        </ul>
    </div>

    <div class="Update" *ngIf = "Showcode == 1.5">
        <h2 *ngIf= "nameError == true">請選擇實習生！</h2>
        <h2 *ngIf= "titleEmpty == true">標題不得為空！</h2>
        <h2 *ngIf= "titlelimit == true">標題不得超過15個字！</h2>
        
        <div class = "ButtonArea">
            <button type="Back" (click)= "UpPage()">返回</button> 
        </div>
    </div>
    <div class = Delete *ngIf = "Showcode == 2">
        <h2>確定刪除「{{Notes.noteTitle}}」這篇文章嗎?</h2>
        <div class = "ButtonArea">
            <button type="Delete" (click)= "Delete(Notes)">確定</button>
            <button type="Back" (click)= "Back()">取消</button>
        </div>  
    </div>

    <div class = "Post" *ngIf= "Showcode == 3" >
            <h2> 新增筆記</h2>

            <p class="title"><label for="new-title">標題： </label>
            <input id="new-title"  placeholder="請輸入標題" #interntitle>
            
            <a class="select-intern">實習生姓名：
                <select #internname>
                        <option value = "請選擇實習生">請選擇實習生</option>
                        <option *ngFor = "let interns of Interns"  value = {{interns.id}}>{{interns.name}}
                        </option>
                    </select>
                    </a>
            </p>
            <div class="note">
                <textarea name = "new-note" rows = "6" cols = "90"  #internnote
                placeholder="請輸入..."></textarea>
            </div>
        <div class = "ButtonArea">
            <button type="Post" class="add-button" 
                (click)= "Post(internname.value,interntitle.value,internnote.value)">增加</button>
            <button type="Back"  (click)= "Back()">取消</button>
        </div>
    </div>  
</div>