<div class = "interns">
    <ul>
        <table>
            <tr>
                <th>Id</th>
                <th>姓名</th>
                <th>性別</th>
                <th>電子信箱</th>
                <th>操作</th>
            </tr>
            <tr *ngFor = "let intern of Interns">
                <td>{{intern.id}}</td>
                <td>{{intern.name}}</td>
                <td>{{intern.sex}}</td>
                <td>{{intern.eMail}}</td>
                <td>
                    <!--<button [class.selected] = "intern === selectedintern" 
                        class="Update" (click)= "onSelect(intern)">修改</button>-->
                    <button class="Update" (click)= "onSelect(intern,1)">修改</button>         
                    <button class="Delete" (click)= "onSelect(intern,2)">刪除</button>
                </td>
            </tr>
        </table>
    </ul>
</div>

<button class="Add" (click)= "onSelect(Interns[0],3)" *ngIf = "IsShow == false">資料增加</button>
<app-intern-details [intern]="selectedintern" *ngIf= "IsShow  == true"></app-intern-details>




