<div class = "interns">
     <table>
        <tr>
            <th>鎖定</th>
            <th>序列</th>
            <th>姓名</th>
            <th>性別</th>
            <th>電子信箱</th>
            <th>操作</th>
        </tr>
        <tr *ngFor = "let intern of Interns">
            <td><button class="Delete">鎖定</button></td>
            <td>{{intern.sort}}</td>
            <td>{{intern.name}}</td>
            <td>{{intern.sex}}</td>
            <td>{{intern.eMail}}</td>
            <td>
                <button class="Update" (click)= "onSelect(intern,1)">修改</button>         
                <button class="Delete" (click)= "onSelect(intern,2)">刪除</button>
            </td>
        </tr>
    </table>
</div>

<div class = "detail">
    <app-intern-details 
        [intern]="selectedintern" 
        [showCode]= "showCode" 
        (SexChange) = "SexChange($event)" 
        (GoSort)= "IdChange($event)"
        (GoDelete)= "Delete($event)"
        (Get)= "getIntern()"
        (GoBack) = "Back()"  >
    </app-intern-details>
</div>

<div class ="Button_Area">
    <button class="Add" (click)= "onSelect(Interns[0],3)" *ngIf = "showCode != 3">資料增加</button>
    <button class="Add" *ngIf = "showCode != 3">介面</button>
</div>




