

.interns table { 
    border:1px solid #000; 
    font-size:16px; 
    width:200px;
    border:1px solid #000;
    text-align:center;
    border-collapse:collapse;
    margin-bottom: 2rem;
  } 
    th { 
    background-color: #a54a00;
    white-space:nowrap; 
    padding:10px;
    border:1px solid #000;
    color:#fff;
  } 
    td { 
    border:1px solid rgb(5, 2, 2);
    white-space:nowrap; 
    text-align: center;
    padding:5px;
    background-color:#ffffff
  }
  
.detail {
  background-color: rgba(255, 255, 255, 0.737);
  margin-bottom: 2rem;
}

.Button_Area{
  text-align: center;
  writing-mode : vertical-lr
}
  