<div class = "interns">
    <ul>
        <table>
            <tr>
                <th>Id</th>
                <th>姓名</th>
                <th>性別</th>
                <th>電子信箱</th>
                <th>操作</th>
            </tr>
            <tr *ngFor = "let intern of Interns">
                <td>{{intern.id}}</td>
                <td>{{intern.name}}</td>
                <td>{{intern.sex}}</td>
                <td>{{intern.eMail}}</td>
                <td> 
                    <!--<button [class.selected] = "intern === selectedintern" 
                        class="Update" (click)= "onSelect(intern)">修改</button>-->
                    <button [class.selected] = "intern === selectedintern "
                        class="Update" (click)= "showUpdate(true);onSelect(intern)">修改</button>         
                    <button class="Delete"(click)= "showDelete(true);onSelect(intern)">刪除</button>
                </td>
            </tr>
        </table>
    </ul>
</div>

<app-intern-details [intern]="selectedintern" *ngIf= "Show  == true"></app-intern-details>


