<div class="title"></div>
    
<div class="NoteArea">
    
    <div class="SelectAll">
        <div class="left"></div>
        <div class="middle">
            請選擇實習生：
            <select #internname>
                <option [value]="0">顯示全部</option>
                <option *ngFor="let interns of unLockInterns"  [value]="interns.id">{{ interns.name }}
                </option>
            </select>
            <button class="Add" (click)="searchInternNote(internname.value); showCode=5">確定</button>
            <span class="dateSort"> 全體查詢：
                <select #dateSort>
                    <option [value]="0">依修改日期 新→舊</option>
                    <option [value]="-1">依修改日期 舊→新</option>
                    <option [value]="-2">依實習生序號 高→低</option>
                    <option [value]="-3">依實習生序號 低→高</option>
                </select>
                <button class="Add" (click)="searchInternNote(dateSort.value); showCode=5">排序</button>
            </span>
        </div>
        <div class="right">
            <button class="Add" (click)="onSelect(notes[0], 3)">新增筆記</button>
        </div>
    </div>

    <div class="Note" >
       <div class="NoteForList" *ngIf="showCode == 4">
            <ul>
                <li class="ListTitle">
                    <p class="NoteIntern">實習生姓名
                    <p class="Notetitle">筆記標題
                    <p class="NoteDateModifited">修改時間
                    <p class="ButtonContorl">操作
                </li>
                <li *ngFor="let note of notes" class="ListNote">
                    <p class="NoteIntern">{{ note.name }}
                    <p class="Notetitle" (click)="onSelect(note, 0)">{{ note.noteTitle }}
                    <p class="NoteDateModifited">{{ note.dateModifited }}
                    <p class="ButtonContorl">
                        <button class="Read" (click)="onSelect(note, 0)">閱讀</button>         
                        <button class="Delete" (click)="onSelect(note, 2)">刪除</button>
                </li>
            </ul>
        </div>
        <div class="NoteForEdit" *ngIf="showCode != 4">
            <app-intern-note-edit class="edit"
                [notes]="selectNotes" 
                [showcode]="showCode" 
                (backPage)="back()"
                (refreshPage)="getNotes()"
                (deleteNote)="delete($event)"
                (putShow)="putShow()">
            </app-intern-note-edit>
        </div>
    </div>
</div>


<div class="Button_Area">
    
</div>

