.internDate-select{
    height: 800px;
    width:25%;
    background-color: black;
}

.internDate-edit{
    height: 800px;
    width: 75%;
    background-color: rgb(255, 255, 255);
}

.interns{
    display: flex;
    flex-direction: row;
}