.title{
  text-align: center;
  font-size: 30px;
  padding-bottom: 0.8rem;
  border-bottom-style: inset;
}
.List{
  margin-top: 10px;
  height: 400px;
  overflow-y: auto;
}

ul{
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

li{
  display: flex;
  flex-direction: row;
  align-items: center;  
  text-align:center ;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
}

span{  
  display: flex;
  flex-direction: row;
}
li:hover{
  background-color: rgba(131, 131, 131, 0.515);
}

.Lock{
  width: 20%;
}
.Sort{
  width: 10%;
}
.Name{
  width: 55%;
  font-size:20px; 
  text-align: left;
}
.Sex{
  width: 15%;
}


.interns table { 
    font-size:16px; 
    text-align:center;
    border:1px solid #000; 
    width:200px;
    border:1px solid #000;
    border-collapse:collapse;
    margin-bottom: 2rem;
  } 
    th { 
    background-color: #a54a00;
    white-space:nowrap; 
    padding:10px;
    border:1px solid #000;
    color:#fff;
  } 
    td { 
    border:1px solid rgb(5, 2, 2);
    white-space:nowrap; 
    text-align: center;
    padding:5px;
    background-color:#ffffff
  }

.detail {
  background-color: rgba(255, 255, 255, 0.737);
  margin-bottom: 2rem;
}

.Button_Area{
  text-align: center;
}
  