<div class = "select-show">
    請選擇實習生：
    <select #internname>
        <option *ngFor = "let interns of UnLockInterns"  value = {{interns.id}}>{{interns.name}}
        </option>
    </select>
    <button class="Add" (click) = "SearchInternNote(internname.value);showCode=5">確定</button>
</div>

<div class = "Note">
    <table >
        <tr>
            <th class = "table-title">標題</th>
            <th>實習生姓名</th>
            <th *ngIf = "SelectShowCode != 1">建立時間</th>
            <th *ngIf = "SelectShowCode != 0">修改時間</th>
            <th>操作按鈕</th>
        </tr>
        <tr *ngFor= "let note of ShowNote">
            <td class = "table-Notetitle">{{note.noteTitle}}</td>
            <td>{{note.name}}</td>
            <td *ngIf = "SelectShowCode != 1">{{note.CreatDateShow}}</td>
            <td *ngIf = "SelectShowCode != 0">{{note.ModifitedDateShow}}</td>
            <td>
                <button class="Read" (click)= "onSelect(note,0)">閱讀</button>         
                <button class="Delete" (click)= "onSelect(note,2)">刪除</button>
            </td>
        </tr>
    </table>
</div>
<div class="Show_Area">
    <button class="Show" (click)= "GetShowNotes()">依創建日期顯示</button>
    <button class="Show" (click)= "SearchNotes()">依修改日期顯示</button>
</div>

<div class = "NoteEdit">
    <app-intern-note-edit class="edit"
    [Notes]= "SelectNotes" 
    [Showcode] = "showCode" 
    (GoBack)= "Back()"
    (Get) = "getNotes()"
    (DeleteNote)= "Delete($event)"
    (PutShow) = "PutShow()">
</app-intern-note-edit>
</div>

<div class ="Button_Area">
    <button class="Add" (click)= "onSelect(Notes[0],3)">新增筆記</button>
    <!--<button class="Add" (click)= "CheckCode()">檢查</button>-->
</div>

