<div class = "Note">
    <table>
        <tr>
            <th>標題</th>
            <th>實習生姓名</th>
            <th>建立時間</th>
            <th>修改時間</th>
            <th>操作按鈕</th>
        </tr>
        <tr *ngFor= "let note of ShowNote">
            <td>{{note.noteTitle}}</td>
            <td>{{note.name}}</td>
            <td>{{note.CreatDateShow}}</td>
            <td>{{note.ModifitedDateShow}}</td>
            <td>
                <button class="Read" (click)= "onSelect(note,0)">閱讀</button>         
                <button class="Delete" (click)= "onSelect(note,2)">刪除</button>
            </td>
        </tr>
    </table>
</div>

<div class = "NoteEdit">
    <app-intern-note-edit 
    [Notes]= "SelectNotes" 
    [Showcode] = "showCode" 
    (GoBack)= "Back()"
    (Get) = "getNotes()"
    (DeleteNote)= "Delete($event)">
</app-intern-note-edit>
</div>

<div class ="Button_Area">
    <button class="Add" (click)= "onSelect(Notes[0],3)">新增筆記</button>
</div>

